{% if options|length %}
	{% if label %}<div class="label">{{ label }}</div>{% endif %}<div class="options">
	{% for key, option in options %}
	<div>
		<input type="checkbox" name="{{ name }}[{{ key }}]" value="1" id="{{ id }}_{{ key }}"{% if value[key] %} checked="checked"{% endif %}><label for="{{ id }}_{{ key }}">{{ option }}</label>
	</div>
	{% endfor %}</div>
{% else %}
	{% if label %}<label for="{{ id }}">{{ label }}</label>{% endif %}<input type="checkbox" name="{{ name }}" value="1" id="{{ id }}"{% if value %} checked="checked"{% endif %}>
{% endif %}