<table class="ui compact celled definition table">
	<thead>
		<tr>
			<th></th>
			{% for col in cols %}
				<th>{{ col.label }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in rows %}
			<tr>
				<td>{{ row.label }}</td>
				{% for col in cols %}
					<td>
						{% set disabled = 0 %}
						{% for dis in disabled %}
						    {% if col.id == dis.col and row.id == dis.row %}
								{% set disabled = 1 %}
						    {% endif %}
						{% endfor %}
						{% if disabled %}
						{% elseif table_type == 'text' %}
							<input type="text" name="{{ id }}[{{ row.id }}][{{ col.id }}]"{% if value[row.id][col.id] is defined %}value="{{ value[row.id][col.id] }}"{% endif %}>
						{% elseif table_type == 'checkbox' %}
							<div class="ui checkbox"><input type="checkbox" name="{{ id }}[{{ row.id }}][{{ col.id }}]" value="1"{% if value[row.id][col.id] %} checked="checked"{% endif %}><label></label></div>
						{% elseif table_type == 'radio' %}
							<div class="ui radio"><input type="radio" name="{{ id }}[{{ row.id }}]" value="{{ col.id }}"{% if value[row.id] == col.id %} checked="checked"{% endif %}><label></label></div>
						{% elseif table_type == 'select' %}
							<select name="{{ id }}[{{ row.id }}][{{ col.id }}]" class="ui dropdown">
									<option value="">-- select --</option>
								{% for option in options %}
									<option value="{{ option.id }}"{% if value[row.id][col.id] is defined and value[row.id][col.id] == option.id %} selected="selected"{% endif %}>{{ option.label }}</option>
								{% endfor %}
							</select>
						{% endif %}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>